<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Mali:wght@400;700&family=Comic+Neue:wght@500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

        
        <!-- Inline CSS -->
        <style>
          body { font-family: 'Poppins', sans-serif; }
          h1, button { font-family: 'Baloo 2', cursive; }

        </style>
      </head>
      

  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
